body{

    font-family: 'Nunito', sans-serif;
    background-color: #1a1a1a;
    color:#fff
}

h1{
    font-size: 48px;
}
p{
    font-size: 20px;
}
.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.fa-brands{
    font-size: 30px;

    
}

.navbar a {
    float: left;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
    
}
  
.navbar a:hover {
    color: gray;
}

.lista a:hover{
    color:gray;
    list-style-type: none;
    
}
.lista{
    list-style-type: none;
    margin-right: 3rem;
}

.lista a{
    text-decoration: none;
    color:#eeeeee;
    font-size: 20px;
   
}
.container {
    padding: 18px;
    margin-top: 35px;
    height: 1000px;
    width: 900px;
    margin: auto auto auto auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
footer {
    justify-content: center;
    align-items: center;
    height: 180px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }
  
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .logo {
    width: 120px;
    margin-bottom: 10px;
  }
  
  .texto-contenedor{
    margin-top: 15rem;
    text-align: center;
  }
/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
  }
  
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 100%;
  }
  
  .logo {
    width: 100px; 
  } */
  


/* 
@media screen and (max-width: 1000px){
    nav .conteiner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    nav .conteiner > div{
        grid-template-columns: 1fr;

    }
    nav .menu{
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        overflow: hidden;
        transition: 0.7s;

    }
    nav ul:nth-child(1) li{
        display: block;
        margin: 0.5em 0;
    }
    nav ul:nth-child(1) li:nth-child(1){
        margin-top: 1.5em;
    }
    nav ul:nth-child(2) li:nth-child(1){
        margin-left: 0;
    }
    nav .conteiner .menu-btn{
        display: inline-block;
        font-size: 1.4rem;
        cursor: pointer;

    }
    nav .conteiner{
        height: 16em;

    }
}
@media screen and(max-height:400px){
    header{
        height: 40em;
    }       
}
@media screen and(min-height:1000px){
    header .content{
        margin: 0 0 0 6em;
        font-size: 18px;
    }
}
@media screen and(max-height:680px){
    .row{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .footer-bottom{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:800px) {
    header{
        font-size: 14px;
    }
} */